.profile {
  padding: 20px;
  border-right: 1px solid black;
  margin-right: 50px;
  padding-right: 100px;
  min-width: 240px;

  &__collection {
    display: flex;
    flex-direction: column;

    &__img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }
}
